@import './base.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-primary {
  @apply flex items-center justify-center gap-2 p-3 rounded-[2px] bg-slate-800 text-white font-semibold border-none text-sm sm:text-base h-[46px] w-[192px] whitespace-nowrap disabled:bg-gray-400;
}

#app {
  max-width: 1920px;
  margin: 0 auto;
  background-color: #fff;
}

.hide-scroll-bar {
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}

.no-translate3d {
  transform: translate3d(0px, 0px, 0px);
}
